chop_enable T
use_new_state_cost F
segment_segcost_rating F
enable_new_segsearch 0
language_model_ngram_on 0
textord_force_make_prop_words F
edges_max_children_per_outline 10

language_model_ngram_space_delimited_language 0
#tessedit_ambigs_training 1
use_definite_ambigs_for_classifier 1
use_ambigs_for_adaption 1
#load_system_dawg 0

#user_words_suffix 0
#language_model_penalty_non_dict_word 0
#language_model_penalty_non_freq_dict_word 0
